body{
    background-color: lightblue;
    margin: 0px;
    padding: 15px;
}


#main-container {
   
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    gap: 16px;
    list-style: none;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#footer-container{
    display: flex;
    justify-content: center;
}
#header-img{
    height: 100px;
    width: 100px;
}








.nav-link2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

@media (max-width: 800px){ 
   p{
       font-size: 10px;
   }

}

