body{
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}


#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px groove rgb(0, 0, 0);
    
    
}

.nav-link{
    display: flex;
    gap: 10px;
    list-style: none;
    padding-right: 25px;
    font-size: 16px;
}




#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    margin:0px;
}


#footer-container{
    display: flex;
    justify-content: center;
    background-color: gray;
}
#header-img{
    height: 100px;
    width: 100px;
    padding-right: 250px;
}

#email {
    margin: 15px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
#submit{
    background-color: rgb(199, 199, 71);
    font-size: 20px;
    font-weight: 900;
}

.features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}
.premium-ico{
    height: 50px;
}
.lag-ico{
    height: 50px;
}
.quality-ico{
    height: 50px;
}

#video{
  display: flex;
  justify-content: center;
  margin: 25px;
}


.pricing{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 25px;
    
}
#label-bronze{
    font-size: 24px;
    align-items: center;
    background-color: #f4a460;
    width: 100%;
    display:flex;
    justify-content: center;
    position: relative;

}

#label-silver{
    background-color: silver;
    font-size: 24px;
    align-items: center;
    width: 100%;
    display:flex;
    justify-content: center;
    position: relative;
    top: 5%;
}
#label-gold{
    background-color: gold;
    position: relative;
    font-size: 24px;
    width: 100%;
    display:flex;
    justify-content: center;
    position: relative;
    top: 9%;
}




#bronze {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    
    
}

#silver{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;    
}
#gold{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;   
}

.btnbronze{
    width: 100px;
    height: 40px;
    background-color: rgb(199, 199, 71);
    position: relative;
    top: 15%;
}

.btnsilver{
    width: 100px;
    height: 40px;
    background-color: rgb(199, 199, 71);
    position: relative;
    top: 5%;
}

.btngold{
    width: 100px;
    height: 40px;
    background-color: rgb(199, 199, 71);
    position: relative;
    top: 1%;
}


.nav-link2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;



}

@media (max-width: 800px){ 
   p{
       font-size: 10px;
   }

}

